body {
  background-color: black
}
h1 {
  font-family: "Times New Roman", Times, serif;
  color: white;
  text-align: center;
  text-decoration: underline;
}
img {
  display: block;
    margin: auto;
    width: 40%;
}
figcaption {
  color: white;
  text-align: center;
}
